extends layout

block content
  h1 Welcome to Room: #[span#room-key #{room.key}]
  p There are #[span#num-users 0] users in rooms

  a.button(href='/rooms') Back to rooms
  <button id="play" type="button">Play Audio</button>
  <button id="togglePlay" type="button">Resume/Pause</button>
  <button id="skipTrack" type="button">Skip Song</button>
 
  <script src="/socket.io/socket.io.js"></script>
  <script src="/scripts/rooms.js"></script>
  script(src="https://sdk.scdn.co/spotify-player.js")
  script(src="/scripts/spotify.js")
  script.
    var access_token = !{JSON.stringify(access_token)};