body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.red{
  color: red;
}

.input-block {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin-bottom: 10px;
}

.text-flex {
  display: flex;
  align-content: space-between;
}

#login-button{
  background-color: #1db954;
  color: #fff;
  border-radius: 100px;
  font-size: 16px;
  font-weight: 700;
}
