body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#login-button{
  background-color: #1db954;
  color: #fff;
  border-radius: 100px;
  font-size: 16px;
  font-weight: 700;
}
