/* 
Main theme colors
{
    primary: {
        main: #bcbcbc,
        light: #eeeeee,
        dark: #8c8c8c,
        text: #000000
    },
    secondary: {
        main: #616161,
        light: #8e8e8e,
        dark: #373737,
        text: #ffffff
    }
} 
*/

.room-menu {
    background: #373737;
    color: #ffffff;
    padding: 0.2em 0.5em 0.5em 0.5em;
    border-radius: 5px;
    text-align: center;
}

.room-option {
    color: #ffffff;
    background: #8e8e8e;
    text-decoration: none;
    padding: inherit;
}