
/* 
Main theme colors
{
    primary: {
        main: #bcbcbc,
        light: #eeeeee,
        dark: #8c8c8c,
        text: #000000
    },
    secondary: {
        main: #616161,
        light: #8e8e8e,
        dark: #373737,
        text: #ffffff
    }
} 
*/

#sidebar {
  height: 100vh;
  padding: 1em;
  float: left;
  background: #616161;
  color: #ffffff;
}

#sidebar h1 {
  text-align: center;
  font-weight: bold;
}

#sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#content {
  flex: 1;
  padding: "10px";
  background-color: #bcbcbc;
}

#login-logout {
  text-align: center;
  text-decoration: none;
  position: absolute;
  bottom: 0;
  display: block;
  margin: 1em;
}

#new-room-btn {
  cursor: pointer;
  text-align: center;
}

.sidebar-button {
  background: #8e8e8e;
  color: #ffffff;
  font-size: 1.3em;
  padding: 0.2em 0.5em;
  border-radius: 5px;
  transition: all .2s ease-in-out;
}

.sidebar-button:hover {
  transform: scale(1.1);
}

.rc-slider {
  margin-bottom: 3em;
}

.rc-slider-mark-text  {
  color: #ffffff;
}